/* ==========================
      NAVBAR
========================== */

.navbar-wrapper{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    background:#fff;

    border-bottom:1px solid #e9ecef;

    box-shadow:0 3px 10px rgba(0,0,0,.05);

    z-index:999;
}

.custom-navbar{

    height:72px;

    display:flex;

    align-items:center;

    justify-content:space-between;
}

/* ==========================
      LOGO
========================== */

.logo{

    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:#112240;

    font-weight:700;

    font-size:28px;
}

.logo-icon{

    width:34px;

    height:34px;

    border:2px solid #1b2a41;

    border-radius:8px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:12px;

    font-weight:700;
}

/* ==========================
      DESKTOP MENU
========================== */

.desktop-nav{
   
    display: flex;
    gap: 36px;
    margin-left: 130px;   /* Adjust this value */
    justify-content:space-between;
    gap:36px;
    list-style:none;
     
}

.desktop-nav a{

    position:relative;

    color:#233142;

    font-size:20px;

    font-weight:600;

    text-decoration:none;

    transition:.3s;
}

.desktop-nav a:hover{

    color:#2457ff;
}

.desktop-nav a.active{

    color:#2457ff;
}

.desktop-nav a::after{

    position:absolute;

    content:"";

    width:0;

    left:0;

    bottom:-11px;

    height:2px;

    background:#2457ff;

    transition:.3s;
}

.desktop-nav a:hover::after{

    width:100%;
}

.desktop-nav a.active::after{

    width:100%;
}

/* ==========================
      MOBILE BUTTON
========================== */

.menu-button{

    display:none;

    border:none;

    background:none;

    color:#112240;
}

/* ==========================
      MOBILE MENU
========================== */

.mobile-nav{

    background:#fff;

    display:flex;

    flex-direction:column;

    border-top:1px solid #eee;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.mobile-nav a{

    padding:16px 30px;

    text-decoration:none;

    color:#222;

    font-weight:600;

    border-bottom:1px solid #f1f1f1;

    transition:.3s;
}

.mobile-nav a:hover{

    color:#2457ff;
}

/* ==========================
      RESPONSIVE
========================== */

@media(max-width:991px){

.desktop-nav{

display:none;

}

.menu-button{

display:block;

}

}